<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>
    function getData(){
        return new Promise((req,res)=>{
            var xhr = new XMLHttpRequest();
            var url="http://localhost:3000/record"
            xhr.open('PUT',url,true)
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            var date = new Date()
            xhr.send(JSON.stringify({
                            "id":"5c97a1a3af25260c1fd4de6f",
                            "dateIn":date,
                            "payOrNot":"1"
                        }));
        })
    }

    function getData1(){
        return new Promise((req,res)=>{
            var xhr = new XMLHttpRequest();
            var url="http://localhost:3000/record"
            xhr.open('PUT',url,true)
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            var date = new Date()
            xhr.send(JSON.stringify({
                            "id":"5c97a1a3af25260c1fd4de6f",
                            "dateOut":date,
                            "payOrNot":"2"
                        }));
        })
    }


    function In(){
        getData().then(value=>{
            console.log(value)
        }).catch(err=>{
            console.log(err)
        })
    }
    function Out(){
        getData1().then(value=>{
            console.log(value)
        }).catch(err=>{
            console.log(err)
        })
    }
</script>
<body>
    <button id="btn1" onclick="In()">入场</button><button id="btn2" onclick="Out()">出场</button>
    
</body>
</html>