extends admin
block messages
    .container
        form(action="/api/category", method="post")
            h3 Title
            input#cateTitle.form-control(type="text", name="title")
            h3 summary
            input#summary.form-control(type="text", name="summary")
            h3 Message
            textarea#cateMessage.form-control(name="message", cols="30", rows="10")
            span 标签
                input#cateLabel.form-control(type="text", name="label" value = "html")
            button(type="submit") 提交